<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para Internet (necesario para Firebase) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        tools:targetApi="31">

        <!-- LoginActivity es la principal -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />

        <!-- RoleSelectionActivity -->
        <activity
            android:name=".activities.RoleSelectionActivity"
            android:exported="false" />

        <!-- ClientMainActivity -->
        <activity
            android:name=".activities.ClientMainActivity"
            android:exported="false" />

        <!-- AdminMainActivity -->
        <activity
            android:name=".activities.AdminMainActivity"
            android:exported="false" />

    </application>

</manifest>